/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.hide {
  display:none;
}

.card {
  height: 310px;
  width: 100%;
  padding-top:3px;
}



.dropdown-trigger.btn {
width: 70%;
}

#bio {
  padding-bottom: 10px;
}

#ptag {
  padding-bottom: 20px;
}